.form_container {
    position: absolute;
    margin: 0 auto;
    min-width: 327px;
    width: 90%;
    max-width: 1110px;
    height: 294px;
    border-radius: 15px;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.10);
    top: 33%;
    left: 50%;
    transform: translate(-50%, -33%);
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @apply bg-primary-white;
}

@media screen and (min-width: 1200px) {
    .form_container {
        height: 161px;
        flex-direction: row;
    }
}