.map_container{
    width: 100vw;
    max-height: 60vh;
    
    @apply bg-primary-whiteBG;
}

.leaflet-container{
    height: 60vh;
    z-index: 999;
}

.leaflet-control-zoom{ 
   display: none;
} 

@media screen and (min-width: 820px) {
    .leaflet-control-zoom{ 
        display: block;
     } 
}